# Ignore everything
*

# Except these files
!*.yaml
!.gitignore
!*.md
!.travis.yml

# Ignore these directories
.storage
.cloud
.google.token

# But definetly these
ip_bans.yaml
secrets.yaml
known_devices.yaml
